* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.container {
  width: auto;
  margin: auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blankTable td {
  border-bottom: 1px solid black;
  padding: 1px 3px;
  text-align: center;
  width: 95px !important;
}

.colouredRow {
  background-color: gainsboro;
}

.firstCol {
  text-align: left !important;
  min-width: 175px !important;
}

.calTable, .sampleTable, .blankTable, .RMTable, .methodTable {
  border-collapse: collapse;
}

.calTable td, .sampleTable td, .RMTable td {
  border-bottom: 1px solid black;
  padding: 3px 3px;
  text-align: center;
  width: 105px !important;
  vertical-align: middle;
}

.calTable th, .sampleTable th, .blankTable th, .RMTable th {
  border-bottom: 2px solid black;
  width: 105px !important;
  padding: 3px 3px;
}

.headerItem {
  font-weight: bold;
  padding: 10px;
}

.methodButton {
  margin: 2px 5px;
  padding: 2px 10px;
  color: darkslategray;
  background-color: gainsboro;
  border: 1px solid grey;
  border-radius: 4px;
  text-decoration: none;
}

.methodButtons {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.methodTable th, .methodTable td {
  padding: 5px 10px;
  text-align: center;
}

.centeredContainerParent {
  position: relative;
}

.centeredContainerChild {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sampleFail {
  background-color: mistyrose;
  color: firebrick;
}

.sampleNeutral {
  background-color: gainsboro;
  color: darkslategray;
}

.samplePass {
  background-color: honeydew;
  color: darkgreen;
}

.calTable tr:nth-child(even) {
  background-color: gainsboro
}

.stripedTable tr:nth-child(even) {
  background-color: gainsboro;
}

.thickBottomBorder {
  border-bottom: 2px solid black;
}

input {
  margin: 10px;
}